header {
  margin: 50px 0;
}
.btn {
  background-color: #df7861;
  padding: 12px 35px;
  border-radius: 10px;
  color: #bdf2d5;
}
.btn:active,
.btn:hover {
  background-color: #bdf2d5;
  color: #df7861;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}
header > p {
  margin: 12px 0;
}
ul {
  width: 650px;
  margin: 0 auto 50px auto;
}
li {
  background-color: #c2ded1;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 15px;
}
.important {
  background-color: #abe0c7;
  box-shadow: 2px 3px 3px salmon;
}
